<div class="body">
  <div class="container">
    <div class="row">

      <p><%= flash[:notice] %></p>

      <div class="col-xs-3">  <!-- グリッドシステム -->
        <h1 class="title">User info</h1>

        <!-- image -->
          <%= attachment_image_tag @user, :user_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>

        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <%=link_to "", edit_user_path(@user),class: "pull-right col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@user.id} " %>
        </div>
        <!-- col-xs-12は、全体の12分の3の中の12分の12 -->


        <!-- 新規投稿欄　form_for -->
      <h1 class="title">New book</h1>

        <div class="form">
          <%= form_for @book,url:books_path,method: :post do |f| %>
            <% if @book.errors.any? %>  <!-- バリデーションのエラーメッセージを表示する（@bookにエラー情報が格納されている -->
              <h2> <%= @book.errors.count %> errors prohibited this obj from being saved </h2>  <!-- 1件でもerroesになってしまうのはOK -->
              <ul>
                <% @book.errors.full_messages.each do |message| %>  <!-- エラーメッセージをリストで表示 -->
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>  <!-- if文のend -->

            <h6>Title</h6>
            <%= f.text_field :title, class: "book_title col-xs-12" %>
            <!-- コントローラーではストロングパラメータ param[:book][:title] で値が受け取れるようになる。 -->

            <h6>Opinion</h6>
            <%= f.text_area :opinion, rows:"5", class: "book_body col-xs-12" %>
            <!-- ストロングパラメータ param[:book][:opinion] で値が受け取れるようになる。 -->

            <%= button_tag( class: "btn btn-primary btn-lg") do %>
              <%= content_tag :span, "Create Book", class: "col-xs-12 glyphicon glyphicon" %>
              <!-- col-xs-12を入れるとmarginがなくなる -->
            <% end %>

          <% end %>  <!-- form_for(@book)のend -->
        </div>
      </div>



    <!-- userの一覧 -->
      <div class="col-xs-9">
        <h1 class="title">Users</h1>
              <table class="table table-hover" table-inverse">
                <thead>
                  <tr>
                    <th>image</th>
                    <th>name</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= attachment_image_tag user, :user_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
                    <td><%= user.name %></td>
                    <td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
      </div>
    </div>
  </div>
</div>
